RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_VHOST=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE=
RABBITMQ_URL=
RABBITMQ_USE_TLS=
RABBITMQ_PREFETCH_COUNT=
WORKER_CHUNK_YIELD=
WORKER_USE_LOCAL_HOOK=
LOCAL_HOOK_FILE=
LOCAL_HOOK_SHEET=

POSTGRES_HOST=
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_SSLMODE=
POSTGRES_CONNECT_TIMEOUT=